<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="support.hb9hci.satfinder">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="SatFinder"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".SatelliteSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".FT4FT8Activity"
            android:exported="false"
            android:label="FT4/FT8 Decoder" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAbDyKKJz8xxAincov4LqkJyBydl-Lwa8E" />
    </application>

</manifest>